@import '~bulma/bulma';

@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';


@import './admin/components/flash-message';

// ToDo: Split out to its own file
.modal {
    display: block;
}

.ellipsis-menu {
    position: relative;

    .ellipsis-dropdown {
        position: absolute;
        top: 20px;
        left: 0;
        z-index: 2;
        background-color: #fff;
        padding: .5rem;
        border-radius: 4px;
        box-shadow: 0px 0px 5px rgba(grey, .25);


        li {
            .button {
                width: 100%;
                margin-bottom: .5rem;
            }

            &:last-child {
                .button {
                    margin-bottom: 0;
                }
            }
        }
    }
}