.lightbox {
        background-color: rgba(0, 0, 0, 0.45);
        bottom: 0;
        height: 100%;
        left: 0;
        overflow-y: auto;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1005;
        display:none;
        justify-content: center;
        align-items: center;
    
        &.show {
            display: flex;
        }
    
        > button {
            position: absolute;
            top: 1rem;
            
            &:first-of-type {
                right: 2.5rem;
            }
    
            &:last-of-type {
                right: 1rem;
            }
        }
    
        button {
            cursor: pointer;
            color: white;
        }
    
        > figure {
            height: 50%;
            max-width: none;
            width: 30%;
            background: white;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            border: 15px solid white;
            transition: all 1s; 
    
            figcaption {
                position: absolute;
                bottom: 10px;
                left: 16px;
                color: white;
                // border:1px solid red;
            }
        }
        > nav {
            display: flex;
            padding: 0 2rem;
            position: absolute;
            justify-content: space-between;            
            width: 100%;
    
            > button {
                font-size: 1.5rem;
            }
        }
    }